@using EntityLayer.Concrete
@model Testimonial
 <!-- testimonials -->
  <section class="w3l-clients" id="clients">
    <!-- /grids -->
    <div class="cusrtomer-layout py-5">
      <div class="container py-lg-4 py-md-3 pb-lg-0">
        <div class="heading text-center mx-auto">
          <h6 class="sub-title text-center">Bizi tercih edenler</h6>
          <h3 class="hny-title mb-md-5 mb-4">Diyorlar ki...</h3>
        </div>
        <!-- /grids -->
        <div class="testimonial-width">
          <div id="owl-demo1" class="owl-two owl-carousel owl-theme">
            <div class="item">
              <div class="testimonial-content">
                <div class="testimonial">
                  <blockquote>
                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                    @ViewBag.v1.Comment
                  </blockquote>
                  <div class="testi-des">
                    <div class="test-img"><img src="@ViewBag.v1.ClientImage" class="img-fluid" alt="client-img">
                    </div>
                    <div class="peopl align-self">
                        <h3>@ViewBag.v1.Client</h3>
                      <p class="indentity">Ankara</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-content">
                <div class="testimonial">
                    <blockquote>
                        <span class="fa fa-quote-left" aria-hidden="true"></span>
                        @ViewBag.v2.Comment
                    </blockquote>
                  <div class="testi-des">
                    <div class="test-img"><img src="@ViewBag.v2.ClientImage" class="img-fluid" alt="client-img">
                    </div>
                    <div class="peopl align-self">
                        <h3>@ViewBag.v2.Client</h3>
                      <p class="indentity">Antalya</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
      <!-- /grids -->
    </div>
    <!-- //grids -->
  </section>
  <!-- //testimonials -->